/nbproject/
/target/
.idea/workspace.xml

.idea/misc.xml

.idea/vcs.xml
/.idea/

.claude/settings.local.json
/.claude/

pojo-lens-spring-boot-autoconfigure/target/
pojo-lens-benchmarks/target/
pojo-lens/target/
